@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0px;
    padding: 0px;
    border: 0px;
    box-sizing: border-box;
}

body {
    background-color: #F0EFE9;
}

.todoArea {
    background-color: #FFFFFF;
    height: 500px;
    width: 500px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

